body {
    margin: 0;
    padding: 0;
}
header {
    background-image: url(../images/empire.jpg);
    height: 100vh;
    background-size: cover;
    color: #333;
    font-family: sans-serif;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
div.explain {
    max-width: 960px;
    padding: 20px 0;
    margin: 0 auto;
}
